body {
  background-image: linear-gradient(to bottom, #091a27, #001f3f);
  background-attachment: fixed;
}

.dark {
  background-color: #252525;
  color: #fff;
}

.light {
  background-color: #dbdbdb;
  color: #000;
}

main {
  min-height: 100dvh;
}
